@section scripts{
    @Scripts.Render("~/Scripts/Relatorio/DadosDiaAnterior.js")
}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

@Html.Hidden("PesquisaDadosBaseCompletaURL", Url.Action("PesquisaDadosBaseCompleta", "Relatorio"))
@*@Html.Hidden("DetalhadoDashBoardOperadorUrl", Url.Action("DetalhadoDashBoardOperador", "Relatorio"))

    @Html.Hidden("DashBoardConversaoAptasOperadorUrl", Url.Action("DashBoardConversaoAptasOperador", "Relatorio"))
    @Html.Hidden("DashBoardConversaoProdutivasOperadorUrl", Url.Action("DashBoardConversaoProdutivasOperador", "Relatorio"))
    @Html.Hidden("DashBoardConversaoTotalOperadorUrl", Url.Action("DashBoardConversaoTotalOperador", "Relatorio"))
    @Html.Hidden("DashBoardTabulacaoOperadorUrl", Url.Action("DashBoardTabulacaoOperador", "Relatorio"))

    @Html.Hidden("DashBoardTabulacaoOperadorTotalUrl", Url.Action("DashBoardTabulacaoOperadorTotal", "Relatorio"))*@



<div class="wait">AGUARDE UM INSTANTE</div>
<div class="error"></div>

                <div class="box-sm-c " style="margin-bottom: 20px; display: none; height: 100px">
                    <h4 class="example-title">Exportar</h4>
                    <table style="border-width: 0px; width: 100%;">
                        <tr>
                            <td colspan="2"><button onclick="ExportExcel();" class="input form-control btn btn-success">Exportar</button></td>
                        </tr>
                    </table>
                </div>


<table class="table-internal" style="margin-top:15px;" id="tblDescricaoItens">
    <thead>
        <tr class="tr-head">
            <th>Id</th>
            <th>Tabulacao</th>
            <th>Normativo</th>
            <th>CodigoNormativo</th>
            <th>NormativoSiebel</th>
            <th>TipoLigacao</th>
            <th>ClienteBase</th>
            <th>PreCadastro</th>
            <th>AtualizacaoReceita</th>
            <th>CPF</th>
            <th>NomeCompleto</th>
            <th>NomeMae</th>
            <th>DataNascimento</th>
            <th>TelefoneResidencial</th>
            <th>TelefoneCelular</th>
            <th>TelefoneComercial</th>
            <th>Email</th>
            <th>DesejaSMS</th>
            <th>CEP</th>
            <th>Logradouro</th>
            <th>Estado</th>
            <th>Cidade</th>
            <th>Bairro</th>
            <th>Intervalo</th>
            <th>Numero</th>
            <th>TipoComplemento1</th>
            <th>Complemento1</th>
            <th>TipoComplemento2</th>
            <th>Complemento2</th>
            <th>TipoComplemento3</th>
            <th>Complemento3</th>
            <th>Transversal1</th>
            <th>Transversal2</th>
            <th>CEPCobranca</th>
            <th>LogradouroCobranca</th>
            <th>EstadoCobranca</th>
            <th>CidadeCobranca</th>
            <th>BairroCobranca</th>
            <th>NumeroCobranca</th>
            <th>TipoComplemento1Cobranca</th>
            <th>Complemento1Cobranca</th>
            <th>TipoComplemento2Cobranca</th>
            <th>Complemento2Cobranca</th>
            <th>TipoComplemento3Cobranca</th>
            <th>Complemento3Cobranca</th>
            <th>LiberacaoOpp</th>
            <th>DadosDaPlaca</th>
            <th>DadosDaCobertura</th>
            <th>TelevisaoDisponivel</th>
            <th>TelefoneDisponivel</th>
            <th>InternetDisponivel</th>
            <th>TelevisaoAdiquirida</th>
            <th>TelefoneAdiquirida</th>
            <th>InternetAdiquirida</th>
            <th>AdicionaisAduidida</th>
            <th>ErroDescricao</th>
            <th>DisponibilidadeData</th>
            <th>DataAgendamento</th>
            <th>LoginUsuario</th>
            <th>TMAResumo</th>
            <th>TMAHumano</th>
            <th>TMARobo</th>
            <th>TMAGeral</th>
            <th>DataHora</th>
            <th>StatusPlaca</th>
            <th>Armario</th>
            <th>ClasseDoArmario</th>
            <th>CtrOutraChance</th>
            <th>PontuacaoTelefone</th>
            <th>PontuacaoInternet</th>
            <th>PontuacaoTV</th>
            <th>PontuacaoTotal</th>
            <th>QtdeProdutosDisponiveis</th>
            <th>GrauMaxInternet</th>
            <th>GrauMaxTV</th>
            <th>IntencaoInternet</th>
            <th>IntencaoTelefone</th>
            <th>IntencaoTV</th>
            <th>AceiteOfertaMovel</th>
            <th>RecusaTelevisao</th>
            <th>RecusaCelular</th>
            <th>RecusaInternet</th>
            <th>RecusaTelefone</th>
            <th>Sexo</th>
            <th>TransferenciaMovel</th>
            <th>TabelaPreco</th>
            <th>GrupoPreco</th>
            <th>CategoriaOferta</th>
            <th>Ofertas</th>
            <th>GrupoPromocao</th>
            <th>Promocao</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>