@model List<Infra.Repositories.SQLData.vw_Recuperacao>


@{

}

@foreach(var item in Model)
{
    <tr>
        <td></td>
        <td>
            @item.CPF
        </td>
        <td>
            @item.Nome
        </td>
        <td>
            @item.Telefone
        </td>
        <td>
            @item.Mailing_Origem
        </td>
        <td>
            @item.Mes_Base
        </td>
        <td>
            @item.Valor_da_Baixa
        </td>
        <td>
            @item.Data_da_Baixa
        </td>
    </tr>
}
