@section scripts{
    @Scripts.Render("~/Scripts/Home/main.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

@Html.Hidden("DashBoardTabulacoesUrl", Url.Action("DashBoardTotalPorTipo", "Home"))
@Html.Hidden("DashBoardDetalhamentoTabulacoesUrl", Url.Action("DashBoardDetalhamento", "Home"))
@Html.Hidden("DashBoardProdutivasUrl", Url.Action("DashBoardProdutivas", "Home"))
@Html.Hidden("DetalhamentoUrl", Url.Action("Detalhamento", "Home"))
@Html.Hidden("DetalhamentoErroUrl", Url.Action("DetalhamentoErroSiebel", "Home"))
@Html.Hidden("DashBoardFilaUrl", Url.Action("DashBoardFila", "Home"))

<div class="wait">AGUARDE UM INSTANTE</div>
<div class="error"></div>


<!--Informações-->
<div class="row">
    <div class="col-sm-12">
        <div class="box" style="display:none;">
            <div class="col-sm-3">
                <div class="box-sm-c " style="margin-bottom: 20px; display: none; height: 400px">
                    <h4 class="example-title">Filtros</h4>
                    <table style="border-width: 0px; width: 100%;">
                        <tr>
                            <td style="width: 25%"> Data Inicio:</td>
                            <td><input type="date" id="DtInicio" name="DtInicio" placeholder="Inicio" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 25%">Data Final:</td>
                            <td><input type="date" id="DtFim" name="DtFim" placeholder="Fim" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><button onclick="atualizaFiltros();" class="input form-control btn btn-danger">Aplicar Filtro</button></td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="checkbox" name="Atualizar" id="Atualizar" value="true" onclick="AtualizarAutomaticamente()">Atualizar Automaticamente<br></td>
                        </tr>

                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <div class="box-sm-c" style="margin-bottom:20px;height:400px">
                        <div id="ChartTabulacao" style="height:350px;width:100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="box" style="display:table;" id="GraficoAptas">


        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="box" style="display:none;">
            <h4 class="example-title">Descrição dos Itens</h4>
            <table class="table-internal" style="margin-top:15px;" id="tblDescricaoItens">
                <thead>
                    <tr class="tr-head">
                        <th>
                            Modalidade
                        </th>
                        <th>
                            Vendas
                        </th>
                        <th>
                            Aptas
                        </th>
                        <th>
                            Não Aptas
                        </th>
                        <th>
                            Total Erros
                        </th>
                        <th>
                            Total Registros
                        </th>
                        <th>
                            % Sobre Total
                        </th>
                        <th>
                            % Sobre Aptas
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <button onclick="fnExcelReport('tblDescricaoItens');" class="input form-control btn btn-info">Exportar</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="box" style="display:none;">
            <h4 class="example-title">Dados da Fila</h4>
            <div class="box-sm-c" style="margin-bottom:20px;height:150px">
                <div id="ChartFila" style="height:100px;width:100%;"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table-internal" style="margin-top:15px;" id="tblControleFila">
                        <thead>
                            <tr class="tr-head">
                                <th>
                                    Fila
                                </th>
                                <th>
                                    Total Disponível
                                </th>
                                <th>
                                    Instâncias
                                </th>
                                <th>
                                    Em Uso
                                </th>
                                <th>
                                    Maquinas
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <button onclick="fnExcelReport('tblControleFila');" class="input form-control btn btn-info">Exportar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Detalhamento-->
<div class="modal fade" id="dadosDetalhado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><div id="NomeModalidade"></div></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <button onclick="fnExcelReport('tblDetalhamento');" class="input form-control btn btn-info">Exportar</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box" style="display:none;">
                            <table class="table-internal" style="margin-top:15px;" id="tblDetalhamento">
                                <thead>
                                    <tr class="tr-head">
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Tabulação
                                        </th>
                                        <th>
                                            Quantidade
                                        </th>
                                        <th>
                                            %
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Erro Siebel -->
<div class="modal fade" id="dadosDetalhadoErroSiebel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><div id="NomeModalidadeErro"></div></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <button onclick="fnExcelReport('tblDetalhamentoErro');" class="input form-control btn btn-info">Exportar</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box" style="display:none;overflow:auto">
                            <table class="table-internal" style="margin-top:15px;" id="tblDetalhamentoErro">
                                <thead>
                                    <tr class="tr-head">
                                        <th>
                                            CPF
                                        </th>
                                        <th>
                                            Nome
                                        </th>
                                        <th>
                                            Nacimento
                                        </th>
                                        <th>
                                            Nome Mae
                                        </th>
                                        <th>
                                            Sexo
                                        </th>
                                        <th>
                                            Telefone
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Plano
                                        </th>
                                        <th>
                                            Tipo Pagamento
                                        </th>
                                        <th>
                                            Modo Pagamento
                                        </th>
                                        <th>
                                            CEP
                                        </th>
                                        <th>
                                            Pais
                                        </th>
                                        <th>
                                            Estado
                                        </th>
                                        <th>
                                            Cidade
                                        </th>
                                        <th>
                                            Rua
                                        </th>
                                        <th>
                                            Número
                                        </th>
                                        <th>
                                            Complemento
                                        </th>
                                        <th>
                                            Criação
                                        </th>
                                        <th>
                                            Modificação
                                        </th>
                                        <th>
                                            Número Pedido
                                        </th>
                                        <th>
                                            Cod. PDV
                                        </th>
                                        <th>
                                            Número CHIP
                                        </th>
                                        <th>
                                            Modalidade
                                        </th>
                                        <th>
                                            Dia Pagamento
                                        </th>
                                        <th>
                                            Operadora
                                        </th>
                                        <th>
                                            Operadora Atual
                                        </th>
                                        <th>
                                            Erro Siebel
                                        </th>
                                        <th>
                                            Data Portabilidade
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Aguarde ... -->
<div class="modal fade" id="divModalAguarde" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2">
                        <h1>Aguarde. Atualizando</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
